$light_grey:#f7f7f9;
$grey:#999;

$light_grey:#dbdbdb;
$light_blue: #02bcd2;
$dark_blue:#013ca6;
$main_green:#42b983;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;
$black:   #000000 !default;
$black:   #000000 !default;
$font-family-base:Arial !default;
