@import "variables";
@import "./fonts";
body{margin: 0;width: 100%;overflow-x: hidden;background: #fff;font-family: "Open Sans";
}

h1,h2,h3,h4,h5,h6,p{margin: 0}
.picBox{text-align: center;font-size: 0;overflow: hidden;
  span{content: ''; display: inline-block; width: 0;height: 100%; vertical-align: middle;}
  div.pic{display: inline-block;vertical-align: middle;}
  img{max-height: 100%;max-width: 100%}
}
.flexPic{display: flex;align-items: center;justify-content: center;
  img{max-height: 100%;max-width: 100%}
}
.nowrap {white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.text_center {text-align: center}
.text_right {text-align: right}
.popupContainer {width: 100vw;height: 100vh;overflow-y: scroll}
.wrapper{width: 1200px;margin: 0 auto;}
.error_tips{line-height: 14px;color: $red !important;padding-top: 4px;}
.is_danger{border-color: $red}
.mainBox{padding:0 15px;box-sizing: border-box;margin: 0 auto}
a, a:hover,a:active{color: #000;text-decoration: none}
input[type=pic_boxhidden] {display: none;height: 0;width: 0}
ul {margin: 0;padding: 0;
  li{list-style: none}
}
.require-icon{color: $red}
.trans{transition: all 0.5s }
button.mint-button--primary{background: $main_green}

.description img{max-width: 100%;max-height: 100%}
.inner{padding: 15px 0 30px 0}



